.contact-section {
  color: var(--secondary-color);

  &__title {
    margin-bottom: 1.5rem;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 800px;
    margin: 4rem auto;

    &__title {
      font-size: var(--fs-small-title);
      font-family: var(--ff-secondary);
      text-align: center;

      margin-bottom: 2rem;
    }

    input,
    textarea {
      width: 100%;
      margin-block: 0.3rem;
      padding: 0.2rem 1.5rem;
      border: none;
      outline: none;

      &::placeholder {
        color: inherit;
        opacity: 0.6;
      }
    }

    input {
      background: transparent;
      color: var(--secondary-color);

      border-bottom: 2px solid var(--light-purple);
    }

    textarea {
      color: var(--purple-text);

      height: 7.5rem;
      padding-block: 0.5rem;
      border: 1px solid var(--light-purple);

      resize: none;
    }

    button {
      background-color: var(--main-color);
      color: var(--secondary-color);

      width: 15rem;
      padding: 1.5rem 2.5rem;
      margin-top: 2rem;
      border: none;

      transition: opacity 200ms ease;

      &:hover {
        cursor: pointer;
        opacity: 60%;
      }
    }
  }
}
