.gridItem {
  --size: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: var(--size);

  color: var(--gray-text);
  text-align: center;

  > p {
    font-size: 0.8em;
    font-weight: 350;
  }

  > img {
    margin-top: auto;
    filter: hue-rotate(50deg);
  }
}

.title {
  font-family: var(--ff-secondary);
  font-size: var(--fs-small-title);
  font-weight: bold;
  line-height: 1.2em;
}

@media (max-width: 768px) {
  .gridItem {
    --size: 150px;
    gap: 0.5rem;

    > p {
      display: none;
    }

    > img {
      width: 2.5rem;
    }
  }

  .title {
    font-size: 1rem;
  }
}
