.infoList {
  display: flex;
  gap: 3rem;
  flex-direction: column;

  width: max-content;
  margin: 3rem auto;

  font-size: var(--fs-small-text);

  > li {
    text-align: center;
  }

  p {
    margin-block: 0;
  }
}

.whatsapp {
  display: grid;
  gap: 1rem;
}

.grid {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  align-items: center;
  justify-content: center;

  > *:first-child {
    grid-row: span 2;
  }
}

@media (min-width: 1024px) {
  .infoList {
    $gap: 4rem;
    display: grid;
    gap: $gap;
    grid-template-columns: repeat(3, 225px);
    align-items: center;

    padding-inline: 1rem;

    > li {
      &:not(.grid) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &:not(:last-child) {
        position: relative;

        &::after {
          $size: 3px;
          content: "";
          position: absolute;
          right: calc(($gap + $size) * -1 / 2);

          height: 100px;
          width: $size;

          background-color: var(--secondary-color);
        }
      }
    }
  }
}
