.contact-info {
  display: flex;
  gap: 3rem;
  flex-direction: column;

  width: max-content;
  margin: 3rem auto;

  font-size: var(--fs-small-text);

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 6rem;
    align-items: center;

    padding-inline: 1rem;
  }

  > li {
    text-align: center;

    @media (min-width: 1024px) {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &:not(:last-child) {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          right: -3rem;

          height: 100px;
          width: 3px;

          background-color: var(--secondary-color);
        }
      }
    }
  }

  p {
    margin-block: 0;
  }

  .whatsapp {
    display: grid;
    gap: 1rem;

    &__grid {
      display: grid;
      column-gap: 0.5rem;
      grid-template-columns: repeat(2, max-content);
      grid-template-rows: repeat(2, max-content);
      align-items: center;
      justify-content: center;

      > *:first-child {
        grid-row: span 2;
      }
    }
  }

  .local {
    @extend .whatsapp__grid;
  }
}
