.sideNav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 3rem;

  z-index: 1;
}

.list {
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  justify-content: center;

  li {
    svg {
      --color: var(--main-color-darker);
      width: 12px;
      aspect-ratio: 1/1;
      fill: transparent;
      stroke: var(--color);
      stroke-width: 4px;

      transition: fill 300ms ease-in-out;
      cursor: pointer;

      &:hover,
      &.active {
        fill: var(--color);
      }
    }
  }
}
