@use "./fonts/stylesheet.css";

// Element selection styling
::selection {
  color: var(--secondary-color);
  background-color: var(--main-color);
}

// Smooth scrolling
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

// Scroll styling
::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-darker);
}

// Default font
body {
  font-family: var(--ff-primary);
}

// Defining a default anchor style
a {
  color: inherit;
}

// Defining a default paragraph style
p {
  margin-block: 0.75rem;
}

/* Utility class to make any content visually hidden,
but available for screen readers */
.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

// Utility class to make margins stop collapsing
.no-collapse {
  overflow: auto;
}

// Utility class for smaller title text
.smaller-title {
  font-size: var(--fs-medium-title);
}
