@use "./fonts/stylesheet.css";

// Variables and default font
:root {
  --main-color: #230664;
  --main-color-transparent: hsla(259, 89%, 21%, 0.5);
  --main-color-darker: #1a0449;
  --secondary-color: #ffffff;
  --gray-text: #605e5e;
  --purple-text: #4000d0;
  --black-alpha: rgba(255, 255, 255, 0.3);
  --light-purple: #8c84fa;

  --ff-primary: "Gotham Rounded", sans-serif;
  --ff-secondary: Helvetica, Arial, sans-serif;

  --fs-big-title: clamp(2.25rem, 8vw + 1rem, 5.5rem);
  --fs-medium-title: clamp(2rem, 6vw + 1rem, 4rem);
  --fs-small-title: 1.3rem;
  --fs-big-text: 1.1rem;
  --fs-small-text: 0.9rem;

  font-family: var(--ff-primary);
}

// Element selection styling
::selection {
  color: var(--secondary-color);
  background-color: var(--main-color);
}

// Smooth scrolling
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

// Scroll styling
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-darker);
}

// Defining a default anchor style
a {
  color: inherit;
}

// Defining a default paragraph style
p {
  margin-block: 0.75rem;
}

/* Utility class to make any content visually hidden,
but available for screen readers */
.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

// Utility class to make margins stop collapsing
.no-collapse {
  overflow: auto;
}

// Utility class for smaller title text
.smaller-title {
  font-size: var(--fs-medium-title);
}
