@use "./partials/parallax-background";

.header {
  position: relative;
  overflow: hidden;

  @extend %parallax-background;

  @media (min-width: 1024px) {
    padding-bottom: 10rem;
  }

  .drone1,
  .drone2 {
    display: none;

    @media (min-width: 1024px) {
      display: block;
      position: absolute;

      @media (prefers-reduced-motion: no-preference) {
        --animation-config: 1s ease-out 500ms 1 normal backwards;
      }
    }
  }

  @media (min-width: 1024px) {
    .drone1 {
      right: 50%;
      margin-right: -725px;
      top: 100px;

      @media (prefers-reduced-motion: no-preference) {
        animation: right-to-left var(--animation-config);

        @keyframes right-to-left {
          from {
            opacity: 0;
            transform: translateX(150px);
          }
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }

    .drone2 {
      bottom: 35px;
      left: 50%;
      margin-left: -850px;

      @media (prefers-reduced-motion: no-preference) {
        animation: left-to-right var(--animation-config);

        @keyframes left-to-right {
          from {
            opacity: 0;
            transform: translateX(-150px);
          }
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }
  }
}

.mainLogo {
  width: clamp(200px, 50%, 288px);

  margin: 2rem auto;
}

.footer {
  background-color: var(--secondary-color);
  color: var(--gray-text);
  font-size: var(--fs-small-text);
  font-family: var(--ff-secondary);
  text-align: center;
}