@use "../../../styles/partials/opacity-background" as var;

// TODO: Trocar o opacity-background por um background-color
.section {
  background-image: #{var.$opacity-background},
    url(/img/background-alt-1.webp);
  background-size: cover;
  background-position: center;
}
