.portfolio-section {
  background-image: linear-gradient(var(--black-alpha), var(--black-alpha)),
    url(../../../img/background-alt-1.webp);
  background-size: cover;
  background-position: center;

  &__flex {
    display: flex;
    gap: 0.5rem;
    flex-flow: row wrap;
    justify-content: center;

    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto 4rem;
  }
}
