@use "../../../scss/opacity-background" as var;

.portfolio-section {
  background-image: #{var.$opacity-background},
    url(../../../img/background-alt-1.webp);
  background-size: cover;
  background-position: center;

  &__flex {
    display: flex;
    gap: 0.5rem;
    flex-flow: row wrap;
    justify-content: center;

    max-width: 75rem;
    padding: 1rem;
    margin: 0 auto 4rem;
  }
}
