.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto;
  grid-template-rows: max-content 1fr;
  align-items: center;
  justify-items: center;

  max-width: 45em;
  margin: 4rem auto;

  @media (min-width: 768px) {
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto;
  }

  > img {
    --image-size: 185px;
    --border-size: 5px;

    width: calc(var(--image-size) + var(--border-size));
    aspect-ratio: 1/1;
    object-fit: cover;
    border: var(--border-size) solid var(--secondary-color);
    border-radius: 100vw;
  }
}

.content {
  width: min(100%, 35em);
  margin: 0;

  text-align: center;

  strong {
    display: block;
  }
}
