.section {
  background-color: var(--secondary-color);
}

.list {
  display: flex;
  gap: 2rem;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  max-width: 65rem;
  padding: 1rem;
  margin: 4rem auto;

  @media (min-width: 769px) {
    gap: 4rem;
  }

  li {
    flex-basis: clamp(175px, 20vw, 250px);
  }

  img {
    width: 100%;
  }

  .itemPadding {
    padding-inline: clamp(0.5rem, 2vw, 2rem);
  }

  .nazareno {
    width: 100%;
    aspect-ratio: 3/1;
    object-fit: cover;
    object-position: 50% 45%;
  }
}
