.navbar {
  background-color: rgba(255, 255, 255, 0.4);
  width: 1000px;
  max-width: calc(100% - 2rem);
  margin: 0 auto;
  padding: 1.25rem 2rem;
  border-radius: 50px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 1rem;

  text-align: center;

  > li:first-child a {
    color: var(--secondary-color);
  }

  a {
    color: var(--main-color);
    text-decoration: none;
    transition: color 0.4s ease;

    &:hover {
      color: var(--secondary-color);
    }
  }
}
