.navbar {
  color: var(--main-color);
}

.list {
  --accent: var(--secondary-color);
  display: flex;

  > li:first-child a {
    color: var(--accent);
  }

  a {
    text-decoration: none;
    transition: color 0.4s ease;

    &:hover {
      color: var(--accent);
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    /* Background color to increase readability in case backdrop-filter is not
    supported */
    background-color: var(--secondary-color);

    font-size: 1.25em;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: min(300px, 100%);
    z-index: 1;

    padding: 3rem 2rem;

    transform: translateX(100%);
    transition: transform 500ms ease;

    @supports (backdrop-filter: blur(1rem)) {
      background-color: var(--secondary-color-darker-transparent);
      backdrop-filter: blur(0.5rem);
    }

    &[data-visible="true"] {
      transform: translateX(0);
    }
  }

  .list {
    /* Different accent color to increase readability in case backdrop-filter is
    not supported and, therefore, the background color is white */
    --accent: var(--main-color-lighter);
    gap: 2rem;
    flex-flow: column;

    @supports (backdrop-filter: blur(0.5rem)) {
      --accent: var(--secondary-color);
    }
  }

  .mobileNavToggle {
    background-image: url(/img/mobile-nav-icons/menu-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    aspect-ratio: 1;
    width: 2.5rem;
    z-index: 2;

    &[aria-expanded="true"] {
      position: fixed;
      background-image: url(/img/mobile-nav-icons/close-icon.svg);
    }
  }
}

@media (min-width: 769px) {
  .navbar {
    background-color: var(--secondary-color-transparent);

    width: min(calc(100% - 2rem), 62.5rem);

    margin-inline: auto;
    padding: 1.25rem 2rem;
    border-radius: 50px;
  }

  .list {
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 1rem;

    text-align: center;
  }

  .mobileNavToggle {
    display: none;
  }
}
