// Variables and default font
:root {
  --main-color: #230664;
  --main-color-darker: #1a0449;
  --secondary-color: #ffffff;
  --gray-text: #605e5e;
  --purple-text: #4000d0;
  --black-alpha: rgba(255, 255, 255, 0.3);
  --light-purple: #8c84fa;

  --ff-primary: "Gotham Rounded", sans-serif;
  --ff-secondary: Helvetica, Arial, sans-serif;

  font-family: var(--ff-primary);
}

// Element selection styling
::selection {
  color: var(--secondary-color);
  background-color: var(--main-color);
}

// Smooth scrolling
html {
  scroll-behavior: smooth;
}

// Scroll styling
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-darker);
}

// Defining a default anchor style
a {
  color: inherit;
}

// Defining a default paragraph style
p {
  margin-block: 0.75rem;
}

// Utility class to make margins stop collapsing
.no-collapse {
  overflow: auto;
}
