.team-section {
  background-image: linear-gradient(var(--black-alpha), var(--black-alpha)),
    url(../../../img/background-alt-2.webp);
  background-size: cover;
  background-position: center;

  > .team-section__description {
    max-width: 1000px;
    margin-block: 4rem;
  }
}
